@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient-from: 260 72% 57%;
    --gradient-to: 190 98% 47%;

    --background: 0 0% 100%;
    --foreground: 245 6% 37%;
    --border: 0 0% 86%;
    --black: 246 95% 8%;
    --overlay: 231 18% 15%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
    letter-spacing: 0.02em;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.title {
  background: linear-gradient(89deg, #7541e0 0%, #02c8f0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}